@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
      ViewData["Title"] = "Delete Resrvation";
}

@using VacationApp.ViewModels.Vacation
@model DeleteReservationIndexModel


<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center"> Hotel:@Model.HotelName</h3>
                <p class="mb-0"><strong>Guest:</strong> @Model.GuestFirstName</p>
                  <p class="mb-0"><strong>StartDate:</strong> @Model.StartDate</p>
                <p class="mb-0"><strong>EndDate:</strong> @Model.EndDate</p>
                <p class="text-danger mt-3">
                    Are you sure you want to delete Reservation № : <strong>@Model.IdReservation</strong>?
                </p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="@Model.IdReservation" />
                    <input type="hidden" asp-for="@Model.StartDate" />
                    <input type="hidden" asp-for="@Model.EndDate" />
                    <input type="hidden" asp-for="@Model.HotelName" />
                    <input type="hidden" asp-for="@Model.GuestFirstName" />
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Confirm Delete
                    </button>
                </form>
                <a asp-controller="Vacation" asp-action="Details" asp-route-id="@Model.IdReservation" class="btn btn-warning">
                    <i class="fas fa-times-circle"></i> Cancel
                </a>
            </div>
        </div>
    </div>
</div>
 